---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import WhatWeDo from '../components/WhatWeDo.astro';
import Events from '../components/Events.astro';
import NewsRecap from '../components/NewsRecap.astro';
import Join from '../components/Join.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navigation />
  <main id="top"><Hero /><WhatWeDo /><Events /><NewsRecap /><Join /></main>
  <Footer />
</BaseLayout>
